@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
body {
    font-size: .875rem;
    /*font-family: 'Open Sans', sans-serif;*/
}
/*datatables*/
thead input {
    width: 100%;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.navbar-brand {
    color: #fff;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
.navbar-brand:focus, .navbar-brand:hover {
    color: #fff;
}
.navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
.navbar-nav .nav-link:focus, .navbar-nav .nav-link:hover {
    color: rgba(255,255,255,.75);
}
.wrapper {
    display: flex;
    width: 100%;
}
/*------------Sidebar------------*/
.sidebar{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 300px;
	height: 100vh;
	transition: all 0.3s;
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
.sidebar.active{
	margin-left: -300px;
}
.sidebar-header{
	height: 53px;
	background-color: #343a40;
	color: #fff;
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
/*------------Sidebar Collapse button------------*/
.sidebar-collapse{
	cursor: pointer;
	color: #636e72;
}
/*------------Main------------*/
[role="main"] {
	width: calc(100% - 300px);
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}
.main.active {
    width: 100%;
}
/*------------Navbar Search------------*/
.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}


/*--------new---------*/
ul.d-a-r li a {
    display: block;
    color: #333;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.list-group-item {
    background-color: inherit;
}
.form-control-sm{
    border-radius: .1rem;
}
.nav-icon{
    color: #6c757d;
}

.card-header {
    padding: .50rem .75rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.card-footer {
    padding: .50rem .75rem;
    background-color: rgba(0,0,0,.03);
    border-top: 1px solid rgba(0,0,0,.125);
}
/*--------end new---------*/


/*------------Tables------------*/
/*------------Crud functionality icons------------*/
.fa-trash-alt, .fa-sync-alt, .fa-edit, .fa-clock-o{
	cursor: pointer;
}
.fa-edit{
    color: #6c757d;
}
.fa-edit:hover{
    color: #007bff;
}
.fa-clock-o{
    color: #6c757d;
}
.fa-clock-o:hover{
    color: #007bff;
}
.fa-trash-alt{
    color: #dc3545;
}
/*------------Disabled state------------*/
.disabled{
    opacity: 0.3;
    pointer-events: none;
}
/*-----------drawings-----------*/
/*.pmt-added-in-sd{
}
.pmt-not-allowed-in-sd{
}
.pmt-free-slot-in-md{ 
}
.pmt-free-slot-in-sd{
}
*/
/*------------SD drawing------------*/
.sd-drawing{
    border: 1px solid #dee2e6;
}
.super-drawer-added-in-sd-drawing{
    background: rgba(40, 167, 69, 0.5);
}
.pmt-in-sd-drawing{
    border-radius: 50%;
    height: 24px;
    width: 24px;
    padding: 0;
    border: 1px solid #ccc;
    pointer-events: none;
    color: #999;
}
.pmt-added-in-sd{
    color: #fff;
}
.super-drawer-added-in-sd-drawing .pmt-in-sd-drawing{
    border:0;
    pointer-events: auto;
}
.pmt-slot-not-allowed-in-sd{
    color: #fff !important;
    border: 0 !important;
}
.sd-slot-numbers{
    border-radius: 50%;
    height: 24px;
    width: 24px;
    padding: 0;  
    white-space: nowrap;
}
/*------------SD assembly--------------*/
.sd-assembly-md-drawing{
   border: 1px solid #dee2e6;  
   width: 335px;
}
.md-in-sd-assembly-added{

}
.md-free-slot-in-sd{
    height: 24px;
    width: 24px; 
    padding: 0;
}
/*SD assembly Micro dr*/
.sd-assembly-mmd-drawing{
   border: 1px solid #dee2e6;  
   width: 167px;
}
.mmd-in-sd-assembly-added{

}
.mmd-free-slot-in-sd{
    height: 24px;
    width: 24px; 
    padding: 0;
}
/*------------MD drawing------------*/
.md-drawing{
    border: 1px solid #dee2e6;
}
.mini-drawer-added-in-md-drawing{
    background: rgba(40, 167, 69, 0.5);
}
.pmt-in-md-drawing{
    border-radius: 50%;
    height: 24px;
    width: 24px;
    padding: 0;
    border: 1px solid #ccc;
    pointer-events: none;
    color: #999;
}
.pmt-added-in-md{
    color: #fff;
}
.pmt-slot-not-allowed-in-md{
    color: #fff;
}
.mini-drawer-added-in-md-drawing .pmt-in-md-drawing{
    border:0;
    pointer-events: auto;
}
.md-slot-numbers{
    border-radius: 50%;
    height: 24px;
    width: 24px;
    padding: 0;  
    white-space: nowrap;
}
/*-------mainboard, hv distribution board, daughterboard--------*/
.md-mainboard{
    border: 1px solid #dee2e6;
    width: 352px;
    color: #999;
}
.md-daughterboard{
    border: 1px solid #dee2e6;
    width: 176px;
    color: #999;
}
.md-hv-distribution-board{
    border: 1px solid #dee2e6;
    width: 352px;
    color: #999;
}
.add-daughterboard-in-md-drawing{
    font-size: 10px;
    cursor: pointer;
}
.add-hv-distribution-board-in-md-drawing{
    font-size: 10px;
    cursor: pointer;
}
.add-mainboard-in-md-drawing{
    font-size: 10px;
    cursor: pointer;
}
.add-daughterboard-in-md-drawing:hover{
     color: #333;
}
.add-hv-distribution-board-in-md-drawing:hover{
     color: #333;
}
.add-mainboard-in-md-drawing:hover{
    color: #333;
}
/*------------MMD drawing------------*/
.mmd-drawing{
    border: 1px solid #dee2e6;
}
.micro-drawer-added-in-mmd-drawing{
    background: rgba(40, 167, 69, 0.5);
}
.pmt-in-mmd-drawing{
    border-radius: 50%;
    height: 24px;
    width: 24px;
    padding: 0;
    border: 1px solid #ccc;
    pointer-events: none;
    color: #999;
}
.pmt-added-in-mmd{
    color: #fff;
}
.pmt-slot-not-allowed-in-mmd{
    color: #fff;
}
.micro-drawer-added-in-mmd-drawing .pmt-in-mmd-drawing{
    border:0;
    pointer-events: auto;
}
.mmd-slot-numbers{
    border-radius: 50%;
    height: 24px;
    width: 24px;
    padding: 0;  
    white-space: nowrap;
}

/*---------Media---------*/
@media (min-width: 1200px) {
    .modal-xl {
        max-width: 1400px;
    } 
}


/*-----------------------*/
.component-table-row{
    display: none;
}