ul.tc-tree {
    padding: 0;
    margin: 0 0 0 15px;
    list-style: none;
    padding-bottom: 20px;
}
ul.tc-tree li {
    padding-bottom: 0;
    padding-top: 5px;
}
ul.tc-tree li a {
    display: block; 
    /* font-weight: 600; */
    color: #333;
    /* height: 31px; */
    /* line-height: 120%; */
    padding: 0 0 1px 0; 
    text-decoration: none;    
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;  
}
ul.tc-tree li a span {
    margin-left: -2px;    
}
/*------------Tree checkboxes------------*/
ul.tc-tree .tc-open-tree{
    margin-right: 4.5px;
    margin-left: -3px;
    color: rgba(45, 52, 54, 0.7);
    font-size: 14px;
}
/*------------Tree first checkbox------------*/
ul.tc-tree .trc-open-tree-first {
    margin-left: 2px;
}
ul.tc-tree1 {
    padding: 0;
    margin: -5px 0 0 8px; 
    list-style: none;
}
ul.tc-tree2, ul.tc-tree3, ul.tc-tree4, ul.tc-tree5, ul.tc-tree6 {
    padding: 0 0 5px 17px;
    margin: 0;
    list-style: none;
    margin-top: -6px;
}
/*------------Hidden tree "if any"------------*/
ul.hidden-tree-ul{
    display: none;
}
ul.tc-tree1 li a:before, ul.tc-tree2 li a:before, ul.tc-tree3 li a:before, ul.tc-tree4 li a:before, ul.tc-tree5 li a:before, ul.tc-tree6 li a:before{
    content: "";
    display: inline-block;
    width: 10px;
    height: 0;
    position: relative;
    left: 0em;
    top: -5px;
    border-top: 1px solid #333;
}
/*---  ---*/
.last-component{
    background:url(img/line-22.png) top left no-repeat;
    padding-left: 1px;
}
ul.empty{
    padding: 0 0 0 17px;
}
ul.no-pt{
    margin-top: -15px;
}
.tc-tree-check-box{
    font-size: 16px;
    float: right;
    margin-right: 15px;
    color: rgba(45, 52, 54, 0.7);
    line-height: 24px;
}
.tc-tree-check-box:hover{
    color: rgba(108, 92, 231,1.0);
    color: #333;
}
.tree-component-checked{
    /*color: rgba(108, 92, 231,1.0);*/
    color: #28a745;
}
.tree-component-checked:hover{
    /*color: rgba(162, 155, 254,1.0);*/
    color: #333;
}
.tree-component-checked-p-active{
    font-weight: 600;
}


/*---------new---------*/
.tree-child:hover{
    font-weight: 600;
}

/*.nav-function-link span:hover{
    font-weight: 600;
}*/